


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
main {
    h1 {margin-left: 2%;}
    div#myCards{
        grid-template-columns: 1fr 1fr;
        
        div.inventoryWrapper {
            margin: 0 2%;
        }
    }
}


/*----------- FOOTER --------------*/
    
